.feedCont {
  display: grid;
  grid-template-columns: 1fr 50px 1fr 50px 1fr;
}

.postCol {
  grid-column: 3;
}

.rightPanel {
  margin-top: 10px;
  margin-right: 10px;
  grid-column: 5;
  border: 1px solid black;
  position: fixed;
  width: 20%;
  right: 0;
  height: 80vh;
}