.mainCont {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 3fr 50px;
  margin-top: 30px;
}

.leftCont {
  grid-column: 2;
  overflow: hidden;
}

.bioCont {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.bioBox {
  border: 1px solid grey;
  grid-column: 2;
  margin-top: 10px;
  height: 200px;
}

.topLeftCard {
  grid-column: 2;
}

.rightCard {
  grid-column: 4;
}

.hr {
  margin: 10px;
}

.username {
  margin-top: 10px;
}

.editButton {
  font-size: x-small;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.editButton:hover {
  background: rgb(2, 160, 160);
}

.communitiesBox {
  margin-bottom: 10px;
  padding-top: 5px;
}

.profileCard {
  margin-bottom: 10px;
  min-height: 300px;
  overflow: hidden;
  height: 400px;
}

.comCard {
  min-height: 50px;
}
