

.contentInput {
  width: 100%;
  border-radius: 10px;
  background: darkslategray;
  color: white;
}

.contentInput:focus {
  outline: none !important;
}

.newPost {
  position: fixed;
  width: 30%;
  margin-top: 10px;
  margin-left: 5px;
}

.cardTitle {
  position: relative;
  text-align: left;
}

.username {
  color: rgb(175, 159, 215);
  margin-left: 5px;
}

.date {
  position: absolute;
  color: grey;
  right: 5px;
}

.belowInput {
  margin-top: 2px;
}
